dash
dash-bootstrap-components
dash-extensions
pandas
geopandas
shapely
pyproj
plotly
langchain
langchain_core
langgraph
langchain_community
langchain_openai
langchain_ollama
configparser
gunicorn
psycopg2-binary
dash-leaflet
grandalf
redis
celery
diskcache
dash[diskcache]
# dash[celery]
sqlalchemy
flask
flask_sqlalchemy
flask_login
flask[async]
passlib
authlib
geoalchemy2
sshtunnel
trio
gevent
flask-socketio
